<h5>
  <span>Operator: </span>{{title}}</h5>
<hr>
<div class="row">
  <div class="col-md-12 mb-12">
    <tabset>
      <tab heading="Example">
          <ng-content></ng-content>
          <ng-container *ngIf="template"
            [ngTemplateOutlet]="template"
            [ngTemplateOutletContext]="{ person: dataContext }"
          >
          </ng-container>
      </tab>
      <tab heading="Documentation">
        <div class="well">Signature:
          <br>
          <code>{{signature}}</code>
        </div>
        <div class="well">Defination:
          <br>
          <span>{{defination}}</span>
        </div>
        <ng-container *ngIf="doctemplate"
            [ngTemplateOutlet]="doctemplate"
            [ngTemplateOutletContext]="{ person: dataContext }"
          >
          </ng-container>
      </tab>
    </tabset>
  </div>
</div>