<app-layout-header></app-layout-header>
<div class="app-body">
    <app-layout-sidebar></app-layout-sidebar>
    <div class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#/">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <span tabindex="0">Dashboard</span>
            </li>
            <li class="breadcrumb-menu d-md-down-none">
                <div aria-label="Button group with nested dropdown" class="btn-group" role="group">
                    <a class="btn" href="#">
                        <i class="icon-speech"></i>
                    </a>
                    <a class="btn" href="#/dashboard">
                        <i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn" href="#">
                        <i class="icon-settings"></i> &nbsp;Settings</a>
                </div>
            </li>
        </ol>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-layout-asidebar></app-layout-asidebar>
</div>



<app-layout-footer></app-layout-footer>